<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodhub</title>

  <!--
    - custom css link 
  -->
  <link rel="stylesheet" href="./assets/css/foodhub.css">
  <link rel="stylesheet" href="./assets/css/media_query.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>

  <div class="container">
    <h2 class="top-title">Our Food menu</h2>

    <h3 id = 'seat-info'></h3>


    <section class="product" id="menu">

      <h2 class="section-title">Vegetarian</h2>


      <div class="products-grid">

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/tawa chapathi.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg1' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg1t'>Tawa Chapati</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>
            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/dal makhani.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg2' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg2t'>Dal Makhani</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>

            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/paneer ladbar.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg3' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg3t'>Paneer Lababdar</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>


            </div>

          </div>

        </a>

      
        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/kadhai paneer.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg4' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg4t'>Kadai Paneer</h3>

                <p class="product-price">
                  <span class="small">₹</span>140
                </p>
              </div>

            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/paneer tikka.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg5' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg5t'>Paneer Tikka</h3>

                <p class="product-price">
                  <span class="small">₹</span>110
                </p>
              </div>



            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/palak paneer.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg6' />

              <div class="card-badge red">
                <ion-icon name="flame"></ion-icon>
                <p>Hot</p>
              </div>
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg6t'>palak paneer</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>


            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/malai kofta.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg7' />
        
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg7t'>Malai Kofta</h3>

                <p class="product-price">
                  <span class="small">₹</span>150
                </p>
              </div>

            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/paneer butter masala.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg8' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg8t'>Paneer Butter Masala</h3>

                <p class="product-price">
                  <span class="small">₹</span>120
                </p>
              </div>



            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/shahi paneer.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'vg9' />

              <div class="card-badge red">
                <ion-icon name="flame"></ion-icon>
                <p>Hot</p>
              </div>
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg9t'>Shahi Paneer</h3>

                <p class="product-price">
                  <span class="small">₹</span>110
                </p>
              </div>


            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/matar paneer.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'vg10' />

            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg10t'>Mutter Paneer</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>

            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/matar mushroom.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg11' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg11t'>Mutter Mushroom</h3>

                <p class="product-price">
                  <span class="small">₹</span>120
                </p>
              </div>



            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/aloo gobi.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'vg12' />
              <div class="card-badge red">
                <ion-icon name="flame"></ion-icon>
                <p>Hot</p>
              </div>
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg12t'>Aloo Gobhi</h3>

                <p class="product-price">
                  <span class="small">₹</span>85
                </p>
              </div>


            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/aloo zeera.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg13' />

            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg13t'>Aloo Zeera</h3>

                <p class="product-price">
                  <span class="small">₹</span>85
                </p>
              </div>

            </div>

          </div>

        </a>

        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/dum aloo.png" alt="product image" class="product-img" width="200" loading="lazy">
              <input type="checkbox" class="chkbox" id = 'vg14' />
            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg14t'>Dum Aloo</h3>

                <p class="product-price">
                  <span class="small">₹</span>100
                </p>
              </div>



            </div>

          </div>

        </a>
        <a href="#">

          <div class="product-card">

            <div class="img-box">
              <img src="./edited/veg/pnidi channa.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'vg15' />

            </div>

            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name" id = 'vg15t'>Pindi Channa</h3>

                <p class="product-price">
                  <span class="small">₹</span>90
                </p>
              </div>

            </div>

          </div>

        </a>
      
      </div>

      <h2 class="section-title">Tandoori  Veg</h2>

      <div class="products-grid">


          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/hara bhara kabab.png" alt="product image" class="product-img" width="200" loading="lazy">
                  <input type="checkbox" class="chkbox" id = 'tvg1' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg1t' >Hara Bhara Kabab</h3>

                  <p class="product-price">
                    <span class="small">₹</span>90
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                  
                <img src="./edited/tandoori veg/tandoori aloo tikka.png" alt="product image" class="product-img" width="200" loading="lazy" >
                <input type="checkbox" class="chkbox" id = 'tvg2' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg2t' >Tandoori Aloo</h3>

                  <p class="product-price">
                    <span class="small">₹</span>80
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/tandoori soya chaap.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tvg3' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg3t' >Tandoori Chaap</h3>

                  <p class="product-price">
                    <span class="small">₹</span>100
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/achari paneer tikka.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'tvg4' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg4t' >Achari Paneer Tikka</h3>

                  <p class="product-price">
                    <span class="small">₹</span>100
                  </p>
                </div>


              </div>

            </div>

          </a>


          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/ajawain paneer tikka.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tvg5' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg5t' >Paneer Ajawain Tikka</h3>

                  <p class="product-price">
                    <span class="small">₹</span>110
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/pudhina tikka.png" alt="product image" class="product-img" width="200" loading="lazy">
                  <input type="checkbox" class="chkbox" id = 'tvg6' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg6t' >Pudhina Tikka</h3>

                  <p class="product-price">
                    <span class="small">₹</span>110
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/paneer dhaniya adrak.png" alt="product image" class="product-img" width="200" loading="lazy">
                  <input type="checkbox" class="chkbox" id = 'tvg7' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg7t' >Paneer Dhaniya Adarak</h3>

                  <p class="product-price">
                    <span class="small">₹</span>120
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori veg/mushroom kabab.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tvg8' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tvg8t' >Mushroom Kabab</h3>

                  <p class="product-price">
                    <span class="small">₹</span>100
                  </p>
                </div>



              </div>

            </div>

          </a>        

      </div>

      <h2 class="section-title">Tandoori Non Veg</h2>

      <div class="products-grid">


          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/tandoori chicken.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'tnvg1' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg1t'>Tandoori Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>280
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/afghani chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                  <input type="checkbox" class="chkbox" id = 'tnvg2' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg2t'>Afghani Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>300
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/achari chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tnvg3' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg3t'>Achari Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>280
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/chicken dhaniya adarki.png" alt="product image" class="product-img" width="200" loading="lazy" >
                <input type="checkbox" class="chkbox" id = 'tnvg4' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg4t'>Chicken Dhaniya Adarki</h3>

                  <p class="product-price">
                    <span class="small">₹</span>130
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/cghicken tikka.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'tnvg5' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg5t'>Chicken Tikka</h3>

                  <p class="product-price">
                    <span class="small">₹</span>110
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/chicken reshmiu tikkaa.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tnvg6' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg6t'>Chicken Reshmi Tikka</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/chicken hariyali tagdi kabab.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'tnvg7' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg7t'>Chicken Haryali Kabab</h3>

                  <p class="product-price">
                    <span class="small">₹</span>120
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/chicken seekah kabab.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tnvg8' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg8t'>Chicken Seekh Kabab</h3>

                  <p class="product-price">
                    <span class="small">₹</span>95
                  </p>
                </div>



              </div>

            </div>

          </a>    
          
          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/ginger chicken curry.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tnvg9' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg9t'>Ginger Chicken Curry</h3>

                  <p class="product-price">
                    <span class="small">₹</span>150
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/mutton kabab.png" alt="product image" class="product-img" width="200" loading="lazy"               >
                  <input type="checkbox" class="chkbox" id = 'tnvg10' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg10t'>Mutton Kabab</h3>

                  <p class="product-price">
                    <span class="small">₹</span>110
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/tandoori non veg/tandoori chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'tnvg11' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name"  id = 'tnvg11t'>Tandoori Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>300
                  </p>
                </div>



              </div>

            </div>

          </a> 




      </div>



      <h2 class="section-title">Chicken</h2>

      <div class="products-grid">


          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/murg masala.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'ck1' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck1t'>Murg Musalan</h3>

                  <p class="product-price">
                    <span class="small">₹</span>180
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chickem curry.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'ck2' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck2t'>Chicken Curry</h3>

                  <p class="product-price">
                    <span class="small">₹</span>370
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/kadai chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck3' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck3t'>Kadai Chicken.png</h3>

                  <p class="product-price">
                    <span class="small">₹</span>410
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken kali mirch.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'ck4' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck4t'>Chicken Kali Mirch</h3>

                  <p class="product-price">
                    <span class="small">₹</span>440
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken tikka lababdar.png" alt="product image" class="product-img" width="200" loading="lazy"                >
                  <input type="checkbox" class="chkbox" id = 'ck5' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck5t'>Chicken Tikka Lababdar</h3>

                  <p class="product-price">
                    <span class="small">₹</span>430
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/butter chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck6' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck6t'>Butter Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken kromq.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'ck7' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck7t'>Chicken Korma</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken masala.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck8' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck8t'>Chicken Masala</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a>    
          
          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken do pyaza.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck9' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck9t'>Chicken Do Pyaza</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken mughali.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'ck10' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck10t'>Chicken Mughlai</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken handi.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck11' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck11t'>Chicken Handi</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a> 

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken rara.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck12' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck12t'>Chicken Rara</h3>

                  <p class="product-price">
                    <span class="small">₹</span>430
                  </p>
                </div>



              </div>

            </div>

          </a> 

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/chicken seekh masala.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck13' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck13t'>Chicken Seekh Masala</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a> 

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/chi/kolapuri chicken.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'ck14' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'ck14t'>Kolapuri Chicken</h3>

                  <p class="product-price">
                    <span class="small">₹</span>390
                  </p>
                </div>



              </div>

            </div>

          </a> 


      </div>


      <h2 class="section-title">Mutton</h2>

      <div class="products-grid">


          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/dal ghosht.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'mu1' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu1t'>Dal Ghosht</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton curry.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'mu2' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu2t'>Mutton Curry</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton rogan josh.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'mu3' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu3t'>Mutton Rogan Josh</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton handi.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'mu4' />

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu4t'>Mutton Handi</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>


              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton bhuna gosht.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'mu5' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu5t'>Mutton Bhuna Ghosht</h3>

                  <p class="product-price">
                    <span class="small">₹</span>170
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton do pyaza.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'mu6' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu6t'>Mutton Do Payaza</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>



              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/mutton kuruma.png" alt="product image" class="product-img" width="200" loading="lazy" >
                  <input type="checkbox" class="chkbox" id = 'mu7' />


              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu7t'>Mutton Korma</h3>

                  <p class="product-price">
                    <span class="small">₹</span>170
                  </p>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/keema kaleji.png" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'mu8' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu8t'>Keema Kaleji</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>



              </div>

            </div>

          </a>    
          
          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="./edited/mutto/Keema curry.jpeg" alt="product image" class="product-img" width="200" loading="lazy">
                <input type="checkbox" class="chkbox" id = 'mu9' />
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name" id = 'mu9t'>Keema Curry</h3>

                  <p class="product-price">
                    <span class="small">₹</span>160
                  </p>
                </div>



              </div>

            </div>

          </a>

      </div>





      <p id="status"></p>

      <div class="status-div">
        <button class="btn btn-primary btn-icon" id = 'pay-online'>
          <img src="./assets/images/menu.svg" alt="menu icon">
          Pay Online
        </button>
        <button class="btn btn-primary btn-icon" id = 'pay-offline'>
          <img src="./assets/images/menu.svg" alt="menu icon">
          Pay Offline
        </button>

      </div>



      <button class="btn btn-primary btn-icon" id = 'place-order'>
        <img src="./assets/images/menu.svg" alt="menu icon">
        Place Order
      </button>

      <img id = 'gpay' src="./assets/images/gpay.jpg" alt="">

      <img id="done" src="./assets/images/check.gif" alt="booking done">

      <button class="btn btn-primary btn-icon" id = 'review'>Delicious meal finished</button>


    </section>







    <!--
      - #FOOTER
    -->

    <footer>

      <div class="footer-wrapper">

        <a href="#">
          <img src="../images/logo.png" alt="logo" class="footer-brand" width="230">
        </a>


        <p class="copyright">&copy; Copyright 2023. All Rights Reserved.</p>

      </div>

    </footer>

  </div>





  <!--
    - custom js link
  -->
  <script src="./assets/js/foodhub.js"></script>
  <script type="module" src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
